#!/usr/bin/env bash

IMAGE_NAME='makalex88/products'
CONTAINER_NAME='products'

docker rm -f ${CONTAINER_NAME}

docker pull ${IMAGE_NAME}

docker run -d --rm \
    --net host \
    -p 8082:80 \
    --add-host="products-manager:{{ hostvars[groups['frontend'][0]]['ansible_default_ipv4']['address'] }}" \
    --add-host="products-service:{{ hostvars[groups['backend'][0]]['ansible_default_ipv4']['address'] }}" \
    --add-host="products-database:{{ hostvars[groups['database'][0]]['ansible_default_ipv4']['address'] }}" \
    --name ${CONTAINER_NAME} \
     ${IMAGE_NAME}
